@import "variables.scss";

/* ICI SERA LES REGLES COMMUNE TOUTE LES TAILLES */ 
@media all 
{
    .Search
    {
        justify-content: center;
    }
    
    .Explorer
    {
        justify-content: center;
        
    }
    .Explorer div
    {
        margin: 5%;
        text-align: center;
        align-items: center;
    }
    .Explorer button
    {
        border-radius: 2rem;
        padding: 1rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .functioning_Contents
    {
        align-items: center;
        justify-content: center;
    }
    .Functioning h2
    {
        margin-left: 5%;
    }
    .list_Functioning
    {
        width: 90%;
        margin: auto;
        flex-direction: row;
        height: 3rem;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 1em;
        border:.1em whitesmoke solid;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: .1em .1em whitesmoke, -.1em -.1em whitesmoke;
        border: none;
    }
    .list_Functioning:not(.number_Tag)
    {
        justify-content: center;
        align-items: center;
    }
    .list_Functioning *:not(.number_Tag)
    {
       margin-left: .3em;
       margin-right: .1em;
    }
    .list_Functioning *:not(.number_Tag, svg)
    {
       min-width: 15%;
    }
    
    
    .number_Tag
    {
        background-color: $prime;
        color: white;
        border-radius: 100%;
        width: 1em;
        height: 1em;
        text-align: center;
        position: absolute;
        float: left;
        left: -0.6em;
    }
    
    .third svg
    {
        color:$prime;
    }

    .Restaurants h2
    {
        margin-left: 5%;
    }

    .Card
    {
        width: 90%;
        align-self: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .card_Img
    {
        position: relative;
    }

    .card_Img img
    {
        object-fit: cover;
    }
    .new_Tag
    {
        text-align: center;
        width: 80px;
        position: absolute;
        float: right;
        right: 0;
        background-color: $tertiary;
        margin-right: .5em;
        padding: .2em;
        font-weight: bold;
        color: #008766;
    }
    
    .card_Contents
    {
        position: relative;
    }


    .card_Contents * 
    {
        margin-top: 1%;
        margin-bottom: .3em;
        margin-left: 2%;
    }
    .heart
    {
        position: absolute;
        float: right;
        right: .3em;
        content: ' ';
        z-index: 100;
        font-weight: 100;
        font-size: 1.6em;
        cursor: pointer;
    }
    .heart:hover
    {
        color: $prime;
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
        background-image: linear-gradient($secondary, $prime);
        -webkit-text-fill-color: transparent;
    }
}

/* ici  SERA LE STYLE POUR LES PETITS SMARTPHONE*/
@media screen and (max-width:340px)
{
    .card_Img img
    {
        max-height: 150px;
    }
}

@media screen and (max-width:576px)
{
    .Search *
    { 
        margin-left:0;
        height: 1rem;
    }
    .Search input
    {
        width: 7rem;
    }
    .Explorer div *:not(button)
    {
        width: 15rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .Functioning
    {

    }

    .card_Img img
    {
        height: 300px;
    }
}

/* ici  SERA LE STYLE POUR LES SMARTPHONES*/

@media screen and (max-width:768px)
{
    .card_Img img
    {
        height: 450px;
    }
}

/* ici  SERA LE STYLE POUR LES TABLETTES*/

@media screen and (max-width:992px)
{
    
}

/* ici  SERA LE STYLE POUR LES DEKTOP*/
@media screen and (min-width:993px)
{
    
}