@import "variables_color.scss";

/* ICI SERA LES REGLES COMMUNE TOUTE LES TAILLES */ 
@media all 
{
    .Search
    {
        justify-content: center;
        padding: 1.5em; 
        background-color: #eaeaea;
    }
    .Search input
    {
        box-shadow: none;
        border: none;
        background-color: #eaeaea;
        text-align: center;
        width: 8em;
    }
    .Explorer,.Functioning,.Restaurants
    {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    .Explorer
    {
        justify-content: center;
        background-color: whitesmoke;
    }
    .Explorer div
    {
        margin: 5%;
        text-align: center;
        align-items: center;
    }
    .Explorer button
    {
        border-radius: 2rem;
        padding: 1rem;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .functioning_Contents
    {
        align-items: center;
        justify-content: center;
    }
    .Functioning h2
    {
        margin-left: 5%;
    }
    .list_Functioning
    {
        width: 90%;
        margin: auto;
        flex-direction: row;
        height: 3rem;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 1em;
        border:.1em whitesmoke solid;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: .1em .1em whitesmoke, -.1em -.1em whitesmoke;
        border: none;
    }
    .list_Functioning:not(.number_Tag)
    {
        justify-content: center;
        align-items: center;
    }
    .list_Functioning *:not(.number_Tag)
    {
       margin-left: .8em;
       margin-right: .1em;
    }
    .list_Functioning *:not(.number_Tag, i)
    {
       min-width: 15%;
    }
    .list_Functioning:hover
    {
        background-color: #f5edff;
    }
    .list_Functioning:hover i
    {
        color: $prime;
    }
     
    .number_Tag
    {
        background-color: $prime;
        color: white;
        border-radius: 100%;
        width: 1em;
        height: 1em;
        text-align: center;
        position: absolute;
        float: left;
        left: -0.6em;
    }
    .Restaurants
    {
        background-color: whitesmoke;
    }
    .Restaurants h2
    {
        margin-left: 5%;
    }

    .Card
    {
        align-self: center;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        border:.1em gray solid;
        border-radius: 1em;
    }
    
    .card_Img
    {
        position: relative;
    }

    .card_Img img
    {
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .new_Tag
    {
        text-align: center;
        width: 80px;
        position: absolute;
        float: right;
        right: 0;
        background-color: $tertiary;
        margin-right: .5em;
        padding: .2em;
        padding-top: .5em;
        padding-bottom: .5em;
        font-weight: bold;
        color: #008766;
        border-radius: .2em;
    }


    .card_Contents * 
    {
        margin-top: 1%;
        margin-bottom: .3em;
        margin-left: 2%;
    }
    .heart_icon
    {
        justify-content: flex-end;
        position: absolute;
        float: right;
        right: .5em;
        bottom: 1em;
        z-index: 100;
        font-weight: 100;
        font-size: 1.6em;
        cursor: pointer;
    }
}

/* ici  SERA LE STYLE POUR LES PETITS SMARTPHONE*/
@media screen and (min-width:280px)
{
    .Card
    {
        width: 90%;
    }
    .card_Img img
    {
        height: 110px;
    }
}

@media screen and (min-width:341px)
{
    .Search *
    { 
        margin-left:0;
        height: 1rem;
    }
    .Search input
    {
        width: 7rem;
    }
    .Explorer div *:not(button)
    {
        width: 15rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .Card
    {
        width: 90%;
    }
    .card_Img img
    {
        height: 150px;
    }
}

/* ici  SERA LE STYLE POUR LES SMARTPHONES*/

@media screen and (min-width:577px)
{
    .Card
    {
        width: 90%;
    }
    .card_Img img
    {
        height: 200px;
    }
}

/* ici  SERA LE STYLE POUR LES TABLETTES*/

@media screen and (min-width:769px)
{
    .funtioning_Contents
    {
        flex-direction: row;
        justify-content: space-around;
    }
    .list_Functioning
    {
        width: 150px;
        height: 150px;
        margin: 0;
        flex-direction: column;
    }
    .number_Tag
    {
        top: -1.5em;
        left: 4.5em;
    }
    .Contents
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .Card
    {
        width: 260px;
        margin: 1em;
    }
    .card_Img img
    {
        height: 200px;  
    } 
}

/* ici  SERA LE STYLE POUR LES DESKTOP*/
@media screen and (min-width:993px)
{
    .list_Functioning p
    {
        text-align: center;
    }
    .Contents
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .Card
    {
        width: 260px;
        margin: 1em;
    }
    .card_Img img
    {
        height: 200px;  
    }
}
@media screen and (min-width:2560px)
{
    .Search input
    {
        width: 7em;
        height: 1em;
    }
    .Explorer div *:not(button)
    {
        width:30em;
    }
    .list_Functioning
    {
        width: 31em;
        height: 13em;
    }
    
    .number_Tag
    {
        left: 7.5em;
    }
    .Contents
    {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .Card
    {
        width: 500px;
        margin: 1em;
    }
    .card_Img img
    {
        height: 250px;  
    }
    .Card i
    {
        font-size: 2.2em;
        bottom:2em;
    }
    .card_Contents *
    {
        font-size: 2.2em;
    }
    .new_Tag
    {
        width: 4.5em;
    }
}