@import "../variables.scss";

@media all
{   
    *
    {
        font-family: $text;
    }
    body
    {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    body *    
    {
        display: flex;
    }
    main
    {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    section
    {
        flex-direction: column;
    }
    section *
    {
        flex-direction: column;
    }
    section img
    {
        object-fit: cover;
    }

    section button
    {
        background: $gradient1;
        color: white;
    }

    ul
    {
        flex-direction: column;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    a:visited
    {
        text-decoration: none;
        color: black;
    }

}
@media screen and (max-width:340px)
{
    body
    {
        max-width: 340px;
    }
}

@media screen and (max-width:576px)
{
    body
    {
        max-width: 576px;
    }
}

@media screen and (max-width:768px)
{
    body
    {
        max-width: 768px;
    }
}

@media screen and (max-width:992px)
{
    body
    {
        max-width: 992px;
    }
}
@media screen and (min-width:993px)
{
    body
    {
        max-width: 1600px;
    }
}

@media screen and (min-width:2560px)
{
    body
    {
        max-width: 2560px;
    }
    p,button,i,input
    {
        font-size: 2em;
    }
    h2,h4
    {
        font-size: 2.5em;
    }
}