@import "../variables.scss";

/* ici  SERA LE STYLE GLOBAL PAR DEFAULT DE 280PX A 575PX*/
@media all
{   
    *
    {
        font-family: $text;
    }
    body
    {
        display: flex;
        flex-direction: column;
    }
    body *    {
        display: flex;
        border: black solid 1px;
    }
    body
    {
        margin: 5%;
    }
    main
    {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    section
    {
        flex-direction: column;
    }
    section *
    {
        flex-direction: column;
    }
    section img
    {
        object-fit: cover;
    }

    section button
    {
        background: $gradient1;
        color: white;
    }

    ul
    {
        flex-direction: column;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    a:visited
    {
        text-decoration: none;
        color: black;
    }

}
@media screen and (max-width:340px)
{
  
}

@media screen and (max-width:576px)
{
   
}

@media screen and (max-width:768px)
{
    
}

@media screen and (max-width:992px)
{
    
}
@media screen and (min-width:993px)
{
    *
    {
    font-size: 1.1em;
    }
}
@media screen and (min-width:2550px)
{
    *
    {
        font-size: 3em;
    }    
}