@import "../variables.scss";

@media all 
{
    header
    {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
    }
    header *:not(img)
    {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    header div
    {
        margin: auto;
    }
    header a
    {
        margin: auto;
    }
    header img
    {
        margin: auto;
    }
}
@media screen and (min-width:280px)
{
  header div img
  {
      width: 10em;
  }
}
@media screen and (max-width:576px)
{
   
}

@media screen and (max-width:768px)
{
    
}

@media screen and (min-width:992px)
{
    header div a img 
    {
        width: 30em;
    }
}