.Card
{
    opacity: 0;
}
.first
{animation: hidden .5s linear .25s forwards;}

.second{
    animation: hidden .5s linear .5s forwards;
}
.third{
    animation: hidden .5s linear .75s forwards;
}
.fourth{
    animation: hidden .5s linear 1s forwards;
}

@keyframes hidden
{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}




