@import "../variables.scss";

@media all {
    
    body 
    {
        animation: surface 60s linear 1;
        position: relative;
    }
    .spinner_Container
    {
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: -100;
        opacity: 0;
        background-color: white;
        animation: invisibility 60s linear 1;
    }

    .spinning_loader {
        width: 50%;
        height: 50%;
        transform: translate(-10%, 0%);
    }
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $prime;
        border-radius: 50%;
        animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $secondary transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes spinner {
        0%{
            left: 0;
            top: 0;
            
        }
        25%{
            left: 0;
            top: 0;
            
        }
        50%{
            left: 0;
            top: 0;
            
        }
        75%{
            left: 0;
            top: 0;
        }
        100%{
            left: -99em;
            top: 25em;
        }
    }
    @keyframes surface {
        0%{
            margin: auto;
            height:200px ;
            width: 200px;
        }
        100%{
            margin: auto;
        }
    }
    @keyframes invisibility
    {
        0%{
            opacity: 1;
            overflow: hidden;
            z-index: 1000;
        }
        25%{
            opacity: 1;
            overflow: hidden;
        }
        50%{
            opacity: 1;
            overflow: hidden;
        }
        75%{
            opacity: 1;
            overflow: hidden;
        }
        100%{
            opacity: 0;
        }
    }
}

@media screen and (min-width:280px)
{
    @keyframes spinner {
        0%{
            left: 15%;
            top: 25%;
        }
        25%{
            left: 15%;
            top: 25%;
        }
        50%{
            left: 15%;
            top: 25%;
        }
        75%{
            left: 15%;
            top: 25%;
        }
        100%{
            left: -99em;
            top: 25em;
        }
    }
}


@media screen and (min-width:577px)
{
    @keyframes spinner {
        0%{
            left: 30%;
            top: 25%;
        }
        25%{
            left: 30%;
            top: 25%;
        }
        50%{
            left: 30%;
            top: 25%;
        }
        75%{
            left: 30%;
            top: 25%;
        }
        100%{
            left: -99em;
            top: 25em;
        }
    }
}

@media screen and (min-width:769px)
{
    @keyframes spinner {
        0%{
            left: 38%;
            top: 25%
        }
        25%{
            left: 38%;
            top: 25%
        }
        50%{
            left: 38%;
            top: 25%
        }
        75%{
            left: 38%;
            top: 25%
        }
        100%{
            left: -99em;
            top: 25em;
        }
    }
}